.button {
  position: absolute; 
  right: 10px;
  top: 10px;
  

  width: 50px;  
  height: 25px;  

  background-color: #fdfbfb;  
  color: #0c0b0b;  
  border: 2px solid #0c0b0b;
  border-radius: 2px; 
  cursor: pointer;
}